* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.page-actions-cont {
    background-color: #218c74;
    height: 3rem;
    display: flex;
    align-items: flex-end;
}

.page-action {
    margin: 0.5rem;
    color: #f1f2f6;
}

.cellprops-actions-cont {
    background-color: #ecf0f1;
    height: 3rem;
    padding-left: 0.5rem;
    display: flex;
    align-items: center;
}

.cellprops-actions-cont>* {
    display: inline-block;
    margin-right: 1rem;
}

.cellprops-actions-cont>* {
    border: none;
    border-radius: 4px;
    outline: none;
}

.font-family-prop {
    padding: 0.25rem;
}

.font-size-prop {
    padding: 0.25rem;
}

.formula-actions-cont {
    background-color: #ecf0f1;
    height: 2rem;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
}

.formula-actions-cont>* {
    display: inline-block;
    margin-right: 0.7rem;
}

.formula-actions-cont>input {
    border: none;
    outline: none;
    height: 70%;
}

.address-bar {
    width: 5rem;
}

.formula-bar {
    flex-grow: 1;
}

.sheet-actions-cont {
    height: 3rem;
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.sheet-actions-cont>* {
    display: inline-block;
}

.sheet-add-icon {
    width: 2vw;
}

.grid-cont {
    height: calc(100vh - 3rem - 3rem - 2rem - 3rem);
}

.sheets-folder-cont {
    width: calc(100vw - 2vw);
    height: 80%;
    display: flex;
    align-items: center;
}

.sheet-folder {
    text-decoration: underline;
    font-weight: bold;
    text-decoration-thickness: 2px;
    font-size: 0.9rem;
}